.to-flex {
  display: flex;
  position: relative;
}

aside {
  width: 180px;
  height: calc(100vh - 100px);
  margin-bottom: 100px;
  background-color: black;
}

.menu {
  background-color: lightgray;
  width: 100vw;
  height: 200vh;
}

footer {
  align-self: flex-end;
  height: 100px;
  width: 100vw;
  background-color: gray;
}
