/* IMPOSTZIONI GENEREALI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2,h3,h4,h5,h6 {
  color: white;
}

h2 {
  line-height: 35px;
  margin: 25px 0;
}
/* <!-- main --> */
.to-flex {
  display: flex;
}
main {
  height: calc(100vh - 100px);
}

/* <!-- ASIDE --> */
aside {
  width: 180px;
  height: 100%;
  background-color: black;
  flex-shrink: 0;
}

/* <!-- NAVBAR --> */
.navbar {
  height: 80px;
  width: calc(100vw - 180px);
  /* background-color: rgba(0,0,0,0.6); */
  background-color: #070707;
  position: fixed;
  top: 0;
  right: 0;
}

/* <!-- impostazioni scroller --> */
.scroller {
  overflow-y: scroll;
  padding-top: 80px;
  background-color: #121212;
  width: calc(100vw - 180px);

}

/* <!-- MENU --> */
.menu {
  width: 100%;
  line-height: 50px;
  background-color: #121212;
}
ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
}
ul a {
  text-transform: uppercase;
  text-decoration: none;
  color: lightgray;
  margin-left: 15px;
  margin-right: 15px;
}

/* <!-- SCROLL BOX --> */
.scroll-box {
  /* overflow-y: scroll; PERCHE QUI NON FUNZIONA? */
  /* width: calc(100vw - 180px);  PERCHE PORCAUTTANA MANDA IN OVERFLOW ??? */
  /* max-width: 7000px; */
}
.scroll-box img {
  width: 150px;
  margin: 25px;
}
.scroll-box p {
  color: lightgray;
}
.scroll-box a {
  text-decoration: none;
  text-align: center;
}

.box-flex {
  display: flex;
  flex-wrap: wrap;
}

/* <!-- FOOTER --> */
footer {
  height: 100px;
  width: 100vw;
  background-color: gray;
}

/*
main {
  overflow-y: auto;
}






.menu-bg {
  background-color: lightgray;
  margin-top: 200px;

}





.content {
  background-color: red;
  width: 50px;
  height: 2000px;
} */
